<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

<header id="header"></header>
<main>
    <header>
        <h1>첫번째 글</h1>
    </header>
    <aside>
        <p>1</p>
        <p>BBlack_Hun</p>
        <p><a href="mailto:wjdgns6102@gamil.com">wjdgns6102@gmail.com</a></p>
        <p><time datetime="2022-01-01T00:00::00">2022-01-01</time></p>
        <p>#java</p>
    </aside>
    <section>
        <p>본문<br/><br/></p>

        <div>
            <form>
                <label for="articleComment" hidden>댓글</label>
                <textarea id="articleComment" placeholder="댓글을 입력해주세요."></textarea>
                <button type="submit">쓰기</button>
            </form>

            <ul>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>BBlack_Hun</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur ttestst <br/>
                            Lorem ipsum dolor sit amet, consectetur ttestst
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <nav>
            <a href="javascript:void();">이전글: 없다!</a>
            <a href="javascript:void();">다음글 : 세번째글 </a>
        </nav>
    </section>
</main>
<footer id="footer"></footer>

</body>
</html>
